/*
------------ GLOBAL -----------------
*/

.max-width {
    max-width: 1170px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #716d6e;
}

/*
------------ NAVBAR -----------------
*/

.navbar {
    border-radius: 0;
}

.navbar-new {
    background-color: #FFF;
    border-color: #FFF;
    margin: 0;
    height: 96px;
    padding-top: 21px;
}

.navbar-new .container-fluid {
    vertical-align: middle;
}

.navbar-new .navbar-brand,
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus {
    color: #777;
}

.navbar-new .navbar-nav > li > a {
    color: #777;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
}

.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
    background-color: #D7D3D4;
}

.navbar-new .navbar-nav > .active > a,
.navbar-new .navbar-nav > .active > a:hover,
.navbar-new .navbar-nav > .active > a:focus {
    color: #777;
    background-color: #D7D3D4;
}

.navbar-new .navbar-text {
    color: #777;
}

.navbar-new .navbar-toggle {
    border-color: #D7D3D4;
}

.navbar-new .navbar-toggle:hover,
.navbar-new .navbar-toggle:focus {
    background-color: #D7D3D4;
}

.navbar-new .navbar-toggle .icon-bar {
    background-color: #777;
}

.navbar-new .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    padding-left: 50px;
}

/*
---------- RESERVE PAGE -----------
*/

#teaser {
  width: 100%;
  height: 600px;
  padding: 60px 0px 60px 0px;
  background-color: #FFBF00;
  background: linear-gradient(to bottom, #ffbf00 0%, #fcd45f 50%, #ffbf00 100%);
}

#teaser .reservation-form-shadow {
  height: 480px;
  background-color: #fff;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 7px 0 15px -4px rgba(0, 0, 0, 0.3), -7px 0 15px -4px rgba(0, 0, 0, 0.3);
}

#teaser form {
  padding: 34px;
}

#teaser form .alert {
  margin-top: -20px;
  padding: 10px 15px;
}
#teaser form ::-webkit-input-placeholder {
  color: #ffbf00 !important;
}
#teaser form :-moz-placeholder {
  color: #ffbf00 !important;
}
#teaser form ::-moz-placeholder {
  color: #ffbf00 !important;
}
#teaser form :-ms-input-placeholder {
  color: #ffbf00 !important;
}
#teaser form .styled-select-car {
  border: 2px solid #efe9e9;
  height: 55px;
  position: relative;
  margin-bottom: 23px;
}
#teaser form .styled-select-car:after {
  content: '';
  background: #ffffff url('imgs/dropdown-icon.png') no-repeat 5px 23px;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 51px;
  position: absolute;
  pointer-events: none;
}
#teaser form .styled-select-car select {
  border: none;
  font-size: 21px;
  font-weight: bold;
  width: 100%;
  background-image: none;
  background: #fff;
  -webkit-appearance: none;
  padding: 9px 10px;
  height: 51px;
  outline: none;
}

#teaser form .submit {
  width: 100%;
  background-color: #ffbf00;
  color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 6px 6px 0 #efe9e9;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 0;
  margin-top: 30px;
  transition: 0.2s;
}

#teaser form .submit:hover {
  background-color: #716d6e;
}

#teaser .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
}

#teaser .subtitle {
  font-size: 24px;
  color: #716d6e;
  text-transform: none;
  display: block;
  font-weight: normal;
  margin-top: 10px;
}

#teaser .car-img {
    height: 375px;
    text-align: center;
    line-height: 400px;
    padding: 50px 0px 0px 0px;
}