/*
------------ GLOBAL -----------------
*/

.max-width {
    max-width: 1170px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #716d6e;
}

/*
------------ NAVBAR -----------------
*/

.navbar {
    border-radius: 0;
}

.navbar-new {
    background-color: #FFF;
    border-color: #FFF;
    margin: 0;
    height: 96px;
    padding-top: 21px;
    border-bottom: 1px solid #716d6e;
}

.navbar-new .container-fluid {
    vertical-align: middle;
}

.navbar-new .navbar-brand,
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus {
    color: #777;
}

.navbar-new .navbar-nav > li > a {
    color: #777;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
}

.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
    background-color: #D7D3D4;
}

.navbar-new .navbar-nav > .active > a,
.navbar-new .navbar-nav > .active > a:hover,
.navbar-new .navbar-nav > .active > a:focus {
    color: #777;
    background-color: #D7D3D4;
}

.navbar-new .navbar-text {
    color: #777;
}

.navbar-new .navbar-toggle {
    border-color: #D7D3D4;
}

.navbar-new .navbar-toggle:hover,
.navbar-new .navbar-toggle:focus {
    background-color: #D7D3D4;
}

.navbar-new .navbar-toggle .icon-bar {
    background-color: #777;
}

.navbar-new .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    padding-left: 50px;
}

/*
---------- RESERVE PAGE -----------
*/

#teaser {
  width: 100%;
  height: 600px;
  padding: 60px 0px 60px 0px;
  background-color: #FFBF00;
  background: linear-gradient(to bottom, #ffbf00 0%, #fcd45f 50%, #ffbf00 100%);
}

#teaser .reservation-form-shadow {
  height: 480px;
  background-color: #fff;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 7px 0 15px -4px rgba(0, 0, 0, 0.3), -7px 0 15px -4px rgba(0, 0, 0, 0.3);
}

#teaser form {
  padding: 34px;
}

#teaser form h1 {
  text-align: center;
  text-transform: uppercase;
}

#teaser form .alert {
  margin-top: -20px;
  padding: 10px 15px;
}
#teaser form ::-webkit-input-placeholder {
  color: #ffbf00 !important;
}
#teaser form :-moz-placeholder {
  color: #ffbf00 !important;
}
#teaser form ::-moz-placeholder {
  color: #ffbf00 !important;
}
#teaser form :-ms-input-placeholder {
  color: #ffbf00 !important;
}
#teaser form .styled-select-car {
  border: 2px solid #efe9e9;
  height: 55px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 30px;
}
#teaser form .styled-select-car:after {
  content: '';
  background: #ffffff url('imgs/dropdown-icon.png') no-repeat 5px 23px;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 51px;
  position: absolute;
  pointer-events: none;
}
#teaser form .styled-select-car select {
  border: none;
  font-size: 21px;
  font-weight: bold;
  width: 100%;
  background-image: none;
  background: #fff;
  -webkit-appearance: none;
  padding: 9px 10px;
  height: 51px;
  outline: none;
}

#teaser form .datetime {
  margin-bottom: 11px;
}
#teaser form .form-control {
  height: 43px;
  border: 2px solid #efe9e9;
  box-shadow: none;
}
#teaser form .input-group {
  width: 100%;
}
#teaser form .input-group input {
  border-radius: 0;
  color: #ffbf00;
  font-size: 16px;
  padding-left: 15px;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
}
#teaser form .input-group-addon {
  border-radius: 0;
  border: none;
  background-color: #efe9e9;
  font-weight: bold;
  font-size: 16px;
  color: #716d6e;
  width: 110px;
  text-align: left;
}
#teaser form .input-group-addon .glyphicon {
  font-size: 17px;
  margin: 0 2px 0 -2px;
}
#teaser form .different-drop-off {
  color: #716d6e;
  font-weight: bold;
  margin: 10px 0;
  display: block;
}
#teaser form .date {
  width: 230px;
}
#teaser form .time {
  width: 140px;
}
#teaser form .pixelfix {
  border-top: 1px solid #fff;
}
#teaser form .styled-select-time {
  border: 2px solid #efe9e9;
  height: 43px;
  position: relative;
}
#teaser form .styled-select-time:after {
  content: '';
  background: #ffffff url('imgs/dropdown-icon.png') no-repeat 5px 18px;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 39px;
  position: absolute;
  pointer-events: none;
}
#teaser form .styled-select-time select {
  border: none;
  font-size: 16px;
  width: 100%;
  background-image: none;
  background: #fff;
  -webkit-appearance: none;
  padding: 10px 10px;
  height: 39px;
  color: #ffbf00;
}

#teaser form .submit {
  width: 100%;
  background-color: #ffbf00;
  color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 6px 6px 0 #efe9e9;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 0;
  margin-top: 30px;
  transition: 0.2s;
}

#teaser form .submit:hover {
  background-color: #716d6e;
}

#teaser .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
}

#teaser .subtitle {
  font-size: 24px;
  color: #716d6e;
  text-transform: none;
  display: block;
  font-weight: normal;
  margin-top: 10px;
}

#teaser .car-img {
    height: 375px;
    text-align: center;
    line-height: 400px;
    padding: 50px 0px 0px 0px;
}

/*
---------- VEHICLES -----------
*/

#vehicles {
  margin-top: 50px;
  position: relative;
  z-index: 2;
}
#vehicles .title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 65px;
}
#vehicles .subtitle {
  font-weight: normal;
}
#vehicles .vehicle-nav-row {
  padding-right: 0;
}
#vehicles #vehicle-nav-container {
  height: 365px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1px;
}
#vehicles .vehicle-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  top: 0px;
  position: absolute;
  width: 100%;
}
#vehicles .vehicle-nav-control {
  padding-right: 10px;
}
#vehicles .vehicle-nav-control a {
  width: 50%;
  height: 40px;
  display: block;
  background-color: #716d6e;
  text-align: center;
  float: left;
  color: #fff;
  line-height: 40px;
  font-size: 24px;
  transition: all 0.25s ease-in-out;
}
#vehicles .vehicle-nav-control a:first-of-type {
  border-right: 1px solid #fff;
}
#vehicles .vehicle-nav-control a:hover {
  background-color: rgba(255, 191, 0, 0.4);
  color: #716d6e;
}
#vehicles .vehicle-nav li {
  background-color: #e3e2e2;
  margin-bottom: 1px;
  position: relative;
  transition: .2s;
  margin-right: 10px;
}
#vehicles .vehicle-nav li span {
  width: 0px;
  height: 0px;
  border-left: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: block;
  position: absolute;
  right: -10px;
  top: 20px;
  transition: 0.2s;
}
#vehicles .vehicle-nav li:hover {
  background-color: #d1cece;
}
#vehicles .vehicle-nav li.active {
  background-color: rgba(255, 191, 0, 0.4);
  font-weight: bold;
}
#vehicles .vehicle-nav li.active span {
  border-left-color: rgba(255, 191, 0, 0.4);
}
#vehicles .vehicle-nav li a {
  font-size: 18px;
  color: #716d6e;
  padding-left: 15px;
  display: block;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
}
#vehicles .styled-select-vehicle-data {
  border: 2px solid #efe9e9;
  height: 43px;
  position: relative;
  width: 100%;
  display: none;
}
#vehicles .styled-select-vehicle-data:after {
  content: '';
  background: #ffffff url('../img/dropdown-icon.png') no-repeat 5px 18px;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 39px;
  position: absolute;
  pointer-events: none;
}
#vehicles .styled-select-vehicle-data select {
  border: none;
  font-size: 16px;
  width: 100%;
  background-image: none;
  background: #fff;
  -webkit-appearance: none;
  padding: 1px 10px;
  height: 39px;
}
#vehicles .vehicle-img {
  text-align: center;
}
#vehicles .vehicle-img img {
  display: inline-block;
}
#vehicles .vehicle-price {
  background-color: rgba(255, 191, 0, 0.4);
  height: 53px;
  line-height: 53px;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 900;
}
#vehicles .vehicle-price .info {
  font-weight: normal;
  font-size: 18px;
}
#vehicles .reserve-button {
  background-color: #ffbf00;
  color: #fff;
  display: block;
  height: 50px;
  line-height: 51px;
  font-size: 24px;
  font-weight: 900;
  padding: 0 15px;
  box-shadow: 6px 6px 0 #efe9e9;
  text-transform: uppercase;
  transition: .2s;
  text-decoration: none;
}
#vehicles .reserve-button:hover {
  background-color: #716d6e;
}
#vehicles .reserve-button span {
  margin-right: 7px;
}

/*
---------- CONTACT -----------
*/

#contact {
  margin-top: 90px;
  position: relative;
  z-index: 2;
}
#contact h2 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 65px;
}
#contact .contact-info {
  font-size: 18px;
  margin-bottom: 35px;
  line-height: 1.7;
}
#contact .contact-info .address {
  font-weight: 900;
}
#contact .contact-info .highlight {
  color: #ffbf00;
}
#contact form .form-group {
  margin-bottom: 20px;
}
#contact form .text-field {
  background-color: #dbdbdb;
  height: 45px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-size: 18px;
}
#contact form textarea {
  background-color: #dbdbdb;
  height: 196px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-size: 18px;
}
#contact form ::-webkit-input-placeholder {
  font-size: 18px !important;
  font-weight: bold;
}
#contact form :-moz-placeholder {
  font-size: 18px !important;
  font-weight: bold;
}
#contact form ::-moz-placeholder {
  font-size: 18px !important;
  font-weight: bold;
}
#contact form :-ms-input-placeholder {
  font-size: 18px !important;
  font-weight: bold;
}
#contact form .first-name {
  float: left;
  width: 49%;
}
#contact form .last-name {
  float: right;
  width: 49%;
}
#contact form .btn-border {
  border: 1px solid #ffd992;
  padding: 1px;
  margin: 0 20px 0 0;
  display: inline-block;
}
#contact form .submit-message {
  font-size: 24px;
  font-weight: 900;
  background-color: #ffbf00;
  color: #fff;
  border: none;
  line-height: 47px;
  padding: 0 15px;
  box-shadow: 6px 6px 0 #efe9e9;
  text-transform: uppercase;
  transition: .2s;
  border-radius: 0;
}
#contact form .submit-message:hover {
  background-color: #716d6e;
}
#contact .contact-box-title {
  font-size: 18px;
  font-weight: bold;
}
#contact .contact-box {
  background-color: #ededed;
  padding: 20px;
}
#contact .contact-box .highlight {
  font-weight: bold;
  color: #ffbf00;
}
#contact .contact-box img {
  border: 1px solid #ffbf00;
  float: left;
  margin-right: 20px;
}
#contact .contact-box-name {
  font-size: 24px;
  font-weight: bold;
}
#contact .contact-box-border {
  background-color: #ffbf00;
  height: 10px;
  margin-top: 1px;
  margin-bottom: 8px;
}
#contact .contact-box-divider {
  height: 10px;
}

/*
---------- DASHBOARD -----------
*/
#dashboard form input {
  width: 150px;
}

#dashboard form input[name=id] {
  width: 50px;
}

#dashboard form input[name=year] {
  width: 75px;
}

#dashboard form input, button {
  margin-left: 5px;
}

#dashboard .table td:nth-child(8) {
  text-transform: uppercase;
}

#dashboard .table td:nth-child(6) {
  text-transform: capitalize;
}

/*
---------- MODAL -----------
*/

#reserveModal .modal-body p {
  padding-left: 34px;
  padding-top: 20px;
}

#reserveModal .modal-body label {
  font-weight: bold;
}